@import "./colors.rasi"

* {
    font-family: "JetBrainsMono Nerd Font"
}

configuration {
    modes: [ combi ];
    combi-modes: [ window, drun, run ]
}

entry {
    placeholder: "...";
    cursor: pointer;
}
