@import "matugen.css";

* {
  font-family: JetBrainsMono Nerd Font Propo;
  font-size: 16px;
  font-weight: bold;
}

window#waybar {
  all: unset;
  background: alpha(@background, 0.4);
}

tooltip {
  background: alpha(@surface, 0.8);
  border: none;
}

tooltip label {
  color: @primary;
}

.modules-right {
  background: @surface;
  color: @primary;
  border-radius: 10em;
  padding: 0 1.2em;
  margin: 0.4em 1em;
}

.modules-center {
  background: @surface;
  color: @primary;
  border-radius: 10em;
  padding: 0;
  margin: 0.4em 1em;
}

#window {
  color: @primary;
  padding: 0;
  margin: 0.4em 0.8em;
}

#workspaces {
  background: @surface;
  color: @primary;
  border-radius: 10em;
  padding: 0;
  margin: 0.4em 1em;
}

#workspaces button {
  all: unset;
  border-radius: 10em;
  padding: 0.6em 0.6em;
  margin: 0.2em 0.4em;
  transition: all 0.1s ease;
}

#workspaces button:nth-child(1) {
  padding: 0.6em 0.6em 0.6em 1.2em;
  margin: 0.2em 0.4em;
}

#workspaces button:nth-last-child(1) {
  padding: 0.6em 1.2em 0.6em 0.6em;
  margin: 0.2em 0.4em;
}

#workspaces button.active {
  background-color: @primary;
  color: @on_primary;
  padding: 0.6em 1.8em;
  margin: 0.2em 0.4em;
}

#workspaces button.active:nth-child(1) {
  padding: 0.6em 1.8em;
  margin: 0.2em 0.4em 0.2em 0.2em;
}

#workspaces button.active:nth-last-child(1) {
  padding: 0.6em 1.8em;
  margin: 0.2em 0.2em 0.2em 0.4em;
}

#workspaces button.empty {
  color: @surface_bright;
}

#clock {
  padding: 0 1.2em;
}

#custom-expand,
#custom-colorpicker,
#custom-power,
#cpu,
#memory,
#temperature,
#group-expand,
#pulseaudio,
#network,
#battery,
#custom-notification {
  padding: 0 0.4em;
}

#pulseaudio {
  font-size: 18px;
}

#pulseaudio.muted {
  color: @error;
}

#custom-separator {
  color: @surface;
  font-size: 20px;
}

#custom-power {
  font-size: 20px;
  background: @surface;
  color: @primary;
  border-radius: 10em;
  padding: 0 1.2em 0 1em;
  margin: 0.4em 1em;
}

#battery.critical {
  color: @error_container;
}

#battery.warning {
  color: @error;
}

#battery.charging {
  color: #81c784;
}

#network.disabled,
#network.disconnected {
  color: @error;
}
